.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Package building
.Rbuildignore

# produced vignettes
Meta/
# Vignettes
vignettes/*.html
vignettes/*.R
vignettes/.DS_Store

# Manual
man/*.Rd

/doc/
/Meta/
